.floatful {
  box-sizing: border-box;
}

.floatful h1, .floatful h2, .floatful h3, .floatful h4, .floatful h5, .floatful h6 {
  margin-top: 0
}

.selector-title {
  padding-right: 10px;
}

.floatful--clickable:hover {
  cursor: pointer;
}

.floatful--selectors, .floatful--properties {
  position: fixed;
  z-index: 1;
  height: 100vh;
  max-width: 400px;
  min-width: 150px;
  padding: 40px 10px;
  background-color: white;
  border: 1px solid black
}

.floatful--selectors {
  top: 0;
  left: 0;
}

.floatful--selector-list {
  list-style-type: none;
  padding: 0;

}
.floatful--selector {
  cursor: pointer;
}

.floatful--properties {
  top: 0;
  right: 0;
}
.floatful--properties-list {
  list-style-type: none;
  padding: 5px 0;
}
.floatful--property {
  margin-bottom: 10px;
}

.floatful--modal-create-rule {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  min-width: 200px;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  z-index: 3;
}

.floatful--visualizer {
  margin-left: 150px;
  padding: 20px;
  background-color: #efefef;
  height: 100vh;
}

.floatful--RGB-slider, .floatful--RGB-label {
  display: block;
}

.floatful--hex-color-display {
  height: 20px;
}
/*
OLD STYLING FROM ORIGINAL TESTS, NOT TO REMOVE IN CASE I WANT TO REUSE IT

.floatful.container--elements, .floatful.container--main, .floatful.container--menu, .floatful.container--properties {
  position: fixed;
  margin: 0;
}
.floatful.container--elements, .floatful.container--properties {
  padding: 10px 5px;
  background-color: #f0f0f0;
  top: 50px;
  height: calc(100vh - 50px);
  width: 200px;
}
.floatful.container--elements {
  left: 0;
}
.floatful.container--properties {
  right: 0;
}
.floatful.container--menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #e4e4e4;
  padding: 0;
}
.floatful.container--menu h1 {
  max-width: 200px;
  margin: 11px auto;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
.floatful.container--menu .app-header {
  height: 100%;
  margin: 0;
}
.floatful.container--menu h1::after {
  clear: both;
}
.floatful.container--menu .app-logo {
  float: left;
  max-height: 40px;
  padding: 0;
  margin: 5px;
}

.floatful.container--main {
  overflow: scroll;
  top: 50px;
  left: 200px;
  width: calc(100vw - 400px);
  height: calc(100vh - 50px);
  padding: 20px;
}
*/