.floatful {
  box-sizing: border-box
}
.selector {
  list-style-type:lower-greek
}
.selector-title {
  padding-right: 10px;
}
/*
OLD STYLING FROM ORIGINAL TESTS, NOT TO REMOVE IN CASE I WANT TO REUSE IT

.floatful.container--elements, .floatful.container--main, .floatful.container--menu, .floatful.container--properties {
  position: fixed;
  margin: 0;
}
.floatful.container--elements, .floatful.container--properties {
  padding: 10px 5px;
  background-color: #f0f0f0;
  top: 50px;
  height: calc(100vh - 50px);
  width: 200px;
}
.floatful.container--elements {
  left: 0;
}
.floatful.container--properties {
  right: 0;
}
.floatful.container--menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #e4e4e4;
  padding: 0;
}
.floatful.container--menu h1 {
  max-width: 200px;
  margin: 11px auto;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
.floatful.container--menu .app-header {
  height: 100%;
  margin: 0;
}
.floatful.container--menu h1::after {
  clear: both;
}
.floatful.container--menu .app-logo {
  float: left;
  max-height: 40px;
  padding: 0;
  margin: 5px;
}

.floatful.container--main {
  overflow: scroll;
  top: 50px;
  left: 200px;
  width: calc(100vw - 400px);
  height: calc(100vh - 50px);
  padding: 20px;
}
*/